<!--
  Generated template for the DispCurrentDelUPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Current Delivery</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- pending req -->
  <div [hidden]="!havePen">

    <ion-grid *ngFor="let d of deliveryNode">
      <h4>Pending Request</h4>

      <ion-row>
        <ion-col col-4><b>Runner</b></ion-col>
        <ion-col col-4 align="left"><a>@{{d.runnerUsername}}</a></ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4><b>Title</b></ion-col>
        <ion-col col-4 align="left">{{d.title}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4><b>Description</b></ion-col>
        <ion-col col-8 align="left">{{d.additional}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4><b>Distance</b></ion-col>
        <ion-col col-4 align="left">{{d.distance}} km</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4><b>Payment</b></ion-col>
        <ion-col col-4 align="left">RM{{d.payment}}</ion-col>
      </ion-row>

      <!--
      <ion-card>
        COMING SOON..MAP SHOWS ROUTE.
      </ion-card>
      -->

    </ion-grid>

  </div>



  <!-- rejected req -->
  <div [hidden]="!haveRej">

    <ion-grid *ngFor="let d of deliveryNode">
      <h4>Request Rejected by <a>@{{d.runnerUsername}} </a></h4>

      <ion-row>
        <ion-col col-4><b>Title</b></ion-col>
        <ion-col col-4 align="left">{{d.title}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4><b>Description</b></ion-col>
        <ion-col col-8 align="left">{{d.additional}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4><b>Distance</b></ion-col>
        <ion-col col-4 align="left">{{d.distance}} km</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4><b>Payment</b></ion-col>
        <ion-col col-4 align="left">RM{{d.payment}}</ion-col>
      </ion-row>


      <ion-row>
          <ion-col  align="middle"> <button ion-button round outline type="submit" (click)="newRunner()">Choose New Runner</button> </ion-col>
      </ion-row>

    </ion-grid>

  </div>



  <!-- approved req -->
  <div #map  style="height:50%"></div>
  <div [hidden]="!haveAcc">


    <ion-grid *ngFor="let d of deliveryNode">
      <h4>Request Approved by <a>@{{d.runnerUsername}} </a></h4>

      <ion-row>
        <ion-col col-4><b>Title</b></ion-col>
        <ion-col col-4 align="left">{{d.title}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4><b>Description</b></ion-col>
        <ion-col col-8 align="left">{{d.additional}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4><b>Distance</b></ion-col>
        <ion-col col-4 align="left">{{d.distance}} km</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4><b>Payment</b></ion-col>
        <ion-col col-4 align="left">RM{{d.payment}}</ion-col>
      </ion-row>


      <ion-footer>
        <ion-toolbar no-border>
          <ion-buttons end>
            <button ion-button (click)="goChat()">
              Chat with <a>@{{d.runnerUsername}}</a>
              <ion-icon name="chatbubbles" color="primary"></ion-icon>
            </button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
      
    </ion-grid>

  </div>

</ion-content>
